.slider-banner-container {
  figure {
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      color: #fff;
      img {
        width: 100%;
        border-radius: 10px;
      }
      figcaption {
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 1.313em; //21px
        bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .slider-banner-container {
    figure {
      a {
        img {
          border-radius: 10px;
        }
      }
    }
  }
}
