.blog-banner-container {
  width: 90%;
  margin: auto;
  figure {
    position: relative;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      text-decoration: none;
      color: #fff;
      img {
        width: 100%;
        border-radius: 10px;
      }
      .title-wrapper {
        position: absolute;
        top: 90px;
        right: 50px;
        width: 30%;

        h2 {
          font-size: 1.563em;
          font-weight: 500;
          margin-bottom: 1.938em;
        }
        p {
          font-size: 1em;
          font-weight: 400;
        }
        a {
          background-color: var(--blue);
          display: inline-block;
          padding: 0.4em 1.7em;
          border-radius: 3px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .blog-banner-container {
    width: 100%;
    figure {
      a {
        img {
          border-radius: 10px;
        }
        .title-wrapper {
          position: absolute;
          top: 20%;
          right: 9%;
          width: 80%;
          margin: auto;

          h2 {
            font-size: 1.9em;
            font-weight: 600;
            margin-bottom: 0.9em;
          }
          p {
            font-size: 1.3em;
            font-weight: 400;
          }
          a {
            background-color: var(--blue);
            display: inline-block;
            font-size: 1.2em;
            padding: 0.3em 1.1em;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .blog-banner-container {
    width: 100%;
    figure {
      a {
        img {
          border-radius: 15px;
        }
        .title-wrapper {
          position: absolute;
          top: 10px;
          right: 9%;
          width: 80%;
          margin: auto;

          h2 {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 0.9em;
          }
          p {
            display: none;
          }
          a {
            background-color: var(--blue);
            display: inline-block;
            font-size: 0.9em;
            padding: 0.3em 0.9em;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
