.single-card-container {
  box-sizing: content-box;
  position: relative;
  border: 1px solid rgba(#f0f0f0, 1);
  border-radius: 10px;
  margin: 1em 0em;
  overflow: hidden;
  padding: 0 !important;
  background-color: #fff;

  .percent {
    position: absolute;
    top: 16px;
    right: 25px;
    background: var(--orange);
    color: #fff;
    padding: 0.12em 0.7em;
    border-radius: 2px;
    font-size: 0.75rem;
    font-weight: 500;
  }

  img {
    width: 100%;
  }

  figcaption {
    padding: 0 16px;
    h2 {
      font-size: 0.75rem; // 12px regular
      color: #95989a;
      padding-top: 5px;
      span {
        font-size: 0.625rem; //10px regular
        opacity: 0.6;
      }
    }
    .price {
      color: #000;
      padding: 0;
      margin: 0;
      padding-top: 8px;
      text-align: left;
      font-size: 1.125rem; //18px
      span {
        font-size: 0.75rem; //12px regular
        opacity: 0.6;
      }
    }
    h3 {
      font-size: 0.875rem; //14px medium
      font-weight: 500;
      padding: 0;
      margin: 0;
    }

    h4 {
      font-size: 0.75rem; //12px medium
      font-weight: 500;
      padding: 0;
      margin: 0;
      padding-top: 0px;
      span {
        font-size: 0.625rem; //10px regular
      }
    }

    .amount {
      display: flex;
      justify-content: space-around;
      margin-top: 2em;
      .amount-wrapper {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #e7e6e5;
        margin-bottom: 0.7em;
        span {
          cursor: pointer;
        }
        .num {
          background-color: #e7e6e5;
          width: 50%;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: default;
          p {
            padding: 0;
            margin: 0;
          }
        }
      }
      a {
        i {
          background-color: var(--blue);
          color: #fff;
          padding: 0.5em;
          border-radius: 50%;
          font-size: 1rem;
          transition: 0.3s ease-in-out;
        }
        &:hover i {
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 1);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
.carousel-root {
  direction: ltr !important;
}

@media screen and (max-width: 500px) {
  // for mobile phone size
  .single-card-container {
    .percent {
      font-size: 0.67rem;
    }
  }
}
