.slider-container {
  width: 100%;
  display: flex;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;

  user-select: none;

  i {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .left-arrow{
    display: none !important;
  }
  .right-arrow{
    display: none !important;
  }

  .slider-container {
    border-radius: 0;
    
  }
}
