.banner-container {
  figure {
    position: relative;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      text-decoration: none;
      color: #fff;
      img {
        width: 100%;
        border-radius: 10px;
      }
      .title-wrapper {
        position: absolute;
        top: 40%;
        right: 5%;

        h2 {
          font-size: 2.125em;
          font-weight: 700;
          margin-bottom: 1.938em;
        }
        h3 {
          font-size: 1.375em;
          font-weight: 400;
        }
      }
    }
  }
}
@media screen and(max-width:850px) {
  .banner-container {
    figure {
      a {
        img {
          border-radius: 10px;
        }
        .title-wrapper {
          top: 20%;
          right: 7%;
        }
      }
    }
  }
}

@media screen and(max-width:500px) {
  .banner-container {
    figure {
      a {
        img {
          border-radius: 10px;
        }
        .title-wrapper {
          top: 20%;
          right: 7%;

          h2 {
            font-size: 1.3em;
            font-weight: 400;
            margin-bottom: 1em;
          }
          h3 {
            font-size: 1em;
          }
        }
      }
    }
  }
}
