footer {
  background-color: #f6ecdd;
  padding: 2em 2em 0 2em;
  .row {
    .right-side {
      p {
        text-align: justify;
        padding: 0.8em 0;
      }
    }
    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      line-height: 2.3em;
      li {
        a {
          text-decoration: none;
          color: #000;
          transition: 0.3s ease-in-out;

          &:hover {
            opacity: 0.6;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
  .social {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 0;

    li {
      margin: 0 1em;
      a {
        text-decoration: none;
        color: #000;
        font-size: 1.8em;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.6;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
