.double-banner-container {
  figure {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 100%;
      border-radius: 10px;
    }
    figcaption {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 20px;
      align-items: center;
      width: 90%;
      color: #fff;

      h3 {
        font-size: 2.063em;
        padding-right: 1em;
        align-self: flex-start;
        width: 80%;
        line-height: 2.9rem;
      }
      a {
        color: #fff;
        text-decoration: none;
        align-self: flex-end;
        margin-left: 4em;
        padding: 0.4em 2em;
        border-radius: 10px;
        background-color: var(--blue);
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 0 10px 1px rgba(#fff, 0.3);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .double-banner-container {
    figure {
      img {
        border-radius: 10px;
      }
      figcaption {
        width: 100%;

        h3 {
          font-size: 1.5em;
          padding-right: 1.3em;
          align-self: flex-start;
          width: 80%;
          line-height: 2.4rem;
          padding-bottom: 1em;
        }
        a {
          padding: 0.25em 2em;
          border-radius: 8px;
        }
      }
    }
  }
}
