.navbar {
  box-shadow: 0 1px 2px 0 rgba(#95989a, 0.3);
  .navbar-brand {
    padding-left: 2em;
  }
  .collapse,
  .collapsing {
    flex-grow: 1;

    .navbar-nav {
      flex-grow: 2;
      .nav-item {
        a {
          i {
            padding-left: 0.5em;
          }
          &:after,
          &::before {
            border: none;
          }
        }
      }
    }
    .form-inline {
      //   margin-right: auto;
      position: relative;
      i {
        position: absolute;
        right: 15px;
      }
      input {
        padding-right: 35px;
        border-radius: 0px;
        margin-left: 1.6em;

        &::placeholder {
          color: rgb(185, 185, 185);
        }
      }
    }

    .user-wrapper {
      display: flex;
      flex-direction: row;
      flex-grow: 0;
      padding: 5;
      list-style: none;
      justify-content: space-between;

      .cart {
        margin-right: 1em;

        .cart-a {
          padding: 0;
          position: relative;
          cursor: pointer;
          i {
            font-size: 1.6em;
          }

          span {
            position: absolute;
            bottom: 25px;
            left: 20px;
            background-color: var(--green);
            color: #fff;
            width: 20px;
            height: 20px;

            text-align: center;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
