.section-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.5rem;
    position: relative;
    padding-right: 20px;

    &:before {
      content: "";
      width: 14px;
      height: 14px;
      border: 2px solid var(--orange);
      position: absolute;
      top: 7px;
      right: 0;
      border-radius: 50%;
    }
  }

  a {
    border: none;
    background-color: var(--green);
    color: #fff;
    padding: 0.3em 1em;
    border: 1px solid var(--green);
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
      border: 1px solid var(--green);
      color: var(--green);
      transition: 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 500px) {
  // for mobile phone size
  .section-header-container {
    h3 {
      font-size: 1rem;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        top: 4px;
      }
    }
    a {
      border: none;
      background-color: var(--green);
      color: #fff;
      padding: 0.2em 0.5em;
      border: 1px solid var(--green);
      border-radius: 4px;
      text-decoration: none;
      transition: 0.3s ease-in-out;
    }
  }
}
