body {
  direction: rtl !important;
  text-align: start;
  font-family: iranSans;
  line-height: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-blue,
.svg-green,
.svg-orange {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.svg-blue {
  background-image: url(../public/images/blue.svg);
}
.svg-green {
  background-image: url(../public/images/green.svg);
}
.svg-orange {
  background-image: url(../public/images/orange.svg);
}
// ================= Bootstrap Container size ============
//0-375
//376-768
//768-1024
//1024-1240
//1240-1366
//1366-up
@media screen and (min-width: 1920px) {
  // for big screens
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 850px) {
  //for tablet size
  .container {
    //background-color: lightcyan;
  }
}
@media screen and (max-width: 500px) {
  // for mobile phone size
  .container {
    //background-color: lightgrey;
  }
}

@import url("./colors.scss");
@import url("../baseComponent/Slider/SliderCard/index.scss"); //for custom slider styles
@import url("../node_modules/react-responsive-carousel/lib/styles/carousel.min.css"); // for home screen slider

// //========= Section Styles
@import url("../reusableComponent/Section/index.scss");

// //============ Awesome scroll
@import url("../reusableComponent/AwesomeScroll/awesomeScroll.scss");

//================== Popular card
@import url("../reusableComponent/SingleProductCard/index.scss");

//=================== Banner slider card

@import url("../baseComponent/SliderBanner/SliderBannerCard/index.scss");

//================== Double banner slider card

@import url("../baseComponent/DoubleBanner/DoubleBannerCard/index.scss");

//================== Banner card
@import url("../baseComponent/Banner/BannerCard/index.scss");

//==================Blog Banner card
@import url("../baseComponent/BlogBanner/BlogBannerCard/index.scss");

//==================Footer card
@import url("../baseComponent/Footer/FooterCard/index.scss");

//==================Header card
@import url("../baseComponent/Header/HeaderCard/index.scss");

//==================Shopping cart card
@import url("../baseComponent/ShoppingCart/ShoppingCartCard/index.scss");
